<p>nav-comp works!</p>
<nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" routerLink="#">MyProduct</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a routerLink="/product">Product</a></li>
            <!-- <li><a routerLink="/p_details">Product Details</a></li> -->
            <li><a routerLink="/abt_us">About us</a></li>
            
          </ul>
        </div>
      </nav>

      <router-outlet></router-outlet>